.summary {
  background-color: var(--neutral-200);

  border-radius: 12px 8px;
  padding: 8px;

  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: uppercase;
}

.tuple {
  display: flex;

  justify-content: space-between;

  padding-inline: 8px;
}
